--
-- PostgreSQL database dump
--

\restrict acWfN4ifEvdmdLsj9lpFgE39axSQoCUEfMDx8oY6cHx5GGQrxm9bKrsmrIrUCfH

-- Dumped from database version 17.6 (Debian 17.6-1.pgdg13+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: Avatar; Type: TABLE DATA; Schema: public; Owner: postgres
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public."Avatar" DISABLE TRIGGER ALL;



ALTER TABLE public."Avatar" ENABLE TRIGGER ALL;

--
-- Data for Name: Element; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Element" DISABLE TRIGGER ALL;



ALTER TABLE public."Element" ENABLE TRIGGER ALL;

--
-- Data for Name: Map; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Map" DISABLE TRIGGER ALL;

COPY public."Map" (id, width, height, name, thumbnail) FROM stdin;
cmfu0a6dw002dffaoo86i9dyz	100	200	mapp	https://static-cse.canva.com/blob/1436087/1600w-wK95f3XNRaM.jpg
\.


ALTER TABLE public."Map" ENABLE TRIGGER ALL;

--
-- Data for Name: MapElements; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."MapElements" DISABLE TRIGGER ALL;

COPY public."MapElements" (id, "mapId", "elementId", x, y) FROM stdin;
\.


ALTER TABLE public."MapElements" ENABLE TRIGGER ALL;

--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."User" DISABLE TRIGGER ALL;



ALTER TABLE public."User" ENABLE TRIGGER ALL;

--
-- Data for Name: Space; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Space" DISABLE TRIGGER ALL;



ALTER TABLE public."Space" ENABLE TRIGGER ALL;

--
-- Data for Name: PrivateAreas; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."PrivateAreas" DISABLE TRIGGER ALL;



ALTER TABLE public."PrivateAreas" ENABLE TRIGGER ALL;

--
-- Data for Name: SpaceElement; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."SpaceElement" DISABLE TRIGGER ALL;



ALTER TABLE public."SpaceElement" ENABLE TRIGGER ALL;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public._prisma_migrations DISABLE TRIGGER ALL;



ALTER TABLE public._prisma_migrations ENABLE TRIGGER ALL;

--
-- PostgreSQL database dump complete
--

\unrestrict acWfN4ifEvdmdLsj9lpFgE39axSQoCUEfMDx8oY6cHx5GGQrxm9bKrsmrIrUCfH

